<div class="d-flex justify-content-center flex-wrap align-items-center pt-3 pb-2 mb-3 border">
  <div class="btn-toolbar mb-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#addPatientModal">Dodaj Pacjenta
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#addWardModal">Dodaj Oddział
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#addStaffModal">Dodaj Pracownika
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#addLocationModal">Dodaj Archiwum/Pomieszczenie
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#addArchiveCategoryModal">Dodaj Kategorię Archiwów
    </button>
  </div>
</div>

<!-- addStaffModal -->
<div class="modal fade" id="addStaffModal" tabindex="-1" aria-labelledby="addStaffModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStaffModalLabel">Dodaj Pracownika</h5>
        <button type="button" id="closeAddStaffModal" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="staffForm">
          <div class="mb-3">
            <label for="name" class="form-label">Imię</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="surname" formControlName="surname">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Rola</label>
            <input type="text" class="form-control" id="role" formControlName="role">
          </div>
          <div class="mb-3">
            <label for="wardId" class="form-label">Id Oddziału</label>
            <input type="number" class="form-control" id="wardId" formControlName="wardId">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearForm(staffForm)" class="btn btn-warning mx-2">Wyczyść</button>
        <button type="button" (click)="postStaff()" class="btn btn-primary mx-2">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<!-- addWardModal -->
<div class="modal fade" id="addWardModal" tabindex="-1" aria-labelledby="addWardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWardModalLabel">Dodaj Oddział</h5>
        <button type="button" id="closeAddWardModal" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="wardForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nazwa</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="abbreviation" class="form-label">Skrót</label>
            <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearForm(wardForm)" class="btn btn-warning mx-2">Wyczyść</button>
        <button type="button" (click)="postWard()" class="btn btn-primary mx-2">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<!-- addArchiveCategoryModal -->
<div class="modal fade" id="addArchiveCategoryModal" tabindex="-1" aria-labelledby="addArchiveCategoryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addArchiveCategoryModalLabel">Dodaj Archiwum/Pomieszczenie</h5>
        <button type="button" id="closeAddArchiveCategoryModal" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="archiveCategoryForm">
          <div class="mb-3">
            <label for="categoryName" class="form-label">Kategoria</label>
            <input type="text" class="form-control" id="categoryName" formControlName="categoryName">
          </div>
          <div class="mb-3">
            <label for="storagePeriodYears" class="form-label">Lata przechowywania</label>
            <input type="text" class="form-control" id="storagePeriodYears" formControlName="storagePeriodYears">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearForm(archiveCategoryForm)" class="btn btn-warning mx-2">Wyczyść</button>
        <button type="button" (click)="postArchiveCategory()" class="btn btn-primary mx-2">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<!-- addLocationModal -->
<div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLocationModalLabel">Dodaj Archiwum/Pomieszczenie</h5>
        <button type="button" id="closeAddLocationModal" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="locationForm">
          <div class="mb-3">
            <label for="floor" class="form-label">Piętro</label>
            <input type="text" class="form-control" id="floor" formControlName="floor">
          </div>
          <div class="mb-3">
            <label for="roomNumber" class="form-label">Nr pokoju</label>
            <input type="text" class="form-control" id="roomNumber" formControlName="roomNumber">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearForm(locationForm)" class="btn btn-warning mx-2">Wyczyść</button>
        <button type="button" (click)="postLocation()" class="btn btn-primary mx-2">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<!-- addPatientModal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPatientModalLabel">Dodaj Pacjenta</h5>
        <button type="button" id="closeAddPatientModal" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="patientForm">
          <div class="mb-3">
            <label for="firstName" class="form-label">Imię</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
          <div class="mb-3">
            <label for="pesel" class="form-label">PESEL</label>
            <input type="text" class="form-control" id="pesel" formControlName="pesel">
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Ulica</label>
            <input type="text" class="form-control" id="street" formControlName="street">
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Nr domu</label>
            <input type="text" class="form-control" id="number" formControlName="number">
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Miasto</label>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>
          <div class="mb-3">
            <label for="zipCode" class="form-label">Kod pocztowy</label>
            <input type="text" class="form-control" id="zipCode" formControlName="zipCode">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearForm(patientForm)" class="btn btn-warning mx-2">Wyczyść</button>
        <button type="button" (click)="postPatient()" class="btn btn-primary mx-2">Zapisz</button>
      </div>
    </div>
  </div>
</div>
